<launch>

  <!-- Start Ximea camera node -->
  <node pkg="ximea_ros" type="ximea_demo" name="ximea_demo" output="log" respawn="true"/>

  <!-- Start box_transform node -->
  <node pkg="metr4202" type="box_transform.py" name="box_transform" respawn="true"/>

  <!-- Start aruco_detect node -->
  <include file="$(find ximea_ros)/launch/ximea_aruco.launch">
    <arg name="serial" value="31704551"/>
  </include>

  <!-- Start colour detection nodes -->
  <node pkg="ximea_color" type="example_camera.py" name="ximea_color" output="log" respawn="true"/>
  <node pkg="metr4202" type="colour_detection.py" name="colour_detection" output="screen" respawn="true"/>
    
</launch>
